@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/*reset*/
* {margin: 0; padding: 0;}
li{list-style: none;}
a {color: inherit; text-decoration: none;}


/* layout */
body {font-family: 'Jua', sans-serif; font-size: 16px; color: #333; line-height: 1.25;}
header {width: 100%; height: 90px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); position: relative;}
.innerHeader .util ul { width: 218px; height: 100%; float: left;
line-height: 90px; margin-left: 2%;}
.innerHeader .util ul li {float: left; padding: 0 15px;}
.innerHeader .util ul li:nth-child(2) {margin-top: 2px;}
.innerHeader .mainlogo {margin-top: 0px;}
.innerHeader .logo {display: inline-block; margin-top: 20px; position: absolute; left: 50%; transform: translateX(-50%)}

/* section.main*/
.main {width: 100%; heigh: auto; background-image: url(../img/Code.jpg); background-size: cover; background-position: center; background-repeat: no-repeat; }
.main .inner {width: 100%; height: 800px; margin: 0 auto; position: relative; font-size: 50px; color: white;}
.main .inner .mainTitle {width: 653px; height: auto; position: absolute; top: 50%; text-align: center; line-height: 1.3;}
.main .inner .mainTitle p {animation-name: titani;  animation-duration: 1.2s;}
@keyframes titani {
    0%{opacity: 0;  top: 70%;}
    30%{opacity: 0; top: 70%;}
    100%{opacity: 1; top:63%;}
}

/* section.aboutme */
.aboutme {width: 100%; margin: 0 auto; margin-top: 50px; color: #333; margin-bottom: 50px;}
.aboutme .photo {text-align: center;}
.aboutme h2 {text-align: center; font-size: 40px; font-weight: bold; margin-bottom: 50px;}

		.flexcontainer {
            width: 100%;
			display: flex;
			flex-direction: row;
            text-align: center;
            flex-wrap: wrap;
            
		}
		.flexitem {
            width: 30%;
			flex: 2 auto;
		}

		@media (max-width: 520px) {
			.flexcontainer {
				flex-direction: column;
				flex-wrap: wrap;
			}
			.flexitem {
				width: 100%;
				/* flex-grow: 0; */
				/* flex: 0 auto; */
				/* flex-basis: 50%; */
			}
		}

/* section.skill */
.skill {width: 100%; height: auto; background-image: url(../img/section.jpg); background-repeat: no-repeat; background-size: cover; background-position: center; padding: 50px 0;}
.skill .inner {width: 100%; height: auto; margin: 0 auto;  text-align: center; }
.skill .inner h2 {font-size: 40px; margin-bottom: 60px;}
.skill .row { width: 100%;	display: flex;	flex-direction: row;  text-align: center;}
.skill .row .guide {flex: 1 auto; background: #fff; box-sizing: border-box;}
.skill .row .guide > p {width: 30%; margin-top: 30px;font-size: 19px; font-weight: bold; margin: 20px auto; border-top: 1px solid #000; border-bottom: 1px solid #000; padding: 10px;}
.skill .row .guide p.img {display: inline-block; width: 200px; height: 200px; border-radius: 50%; overflow: hidden;margin-bottom: 30px;}
.skill .row .guide p.img img{ width: 100%; transition: all 0.5s;}
.skill .row .guide a:hover p.img img {transform: scale(1.2); transition: all 1s;}
.skill .row .guide:first-child {border-right: 1px solid #ddd;}
.skill .row .guide:nth-child(2) {border-right: 1px solid #ddd;}
.skill .row .guide h3{margin-bottom: 30px;}

		@media (min-width: 300px) {
			.row {
				flex-direction: column;
				flex-wrap: wrap;
			}
			.guide {
				width: 100%;
				/* flex: 0 auto; */
				/* flex-basis: 50%; */
			}
		}
		@media (min-width: 900px) {
			.row {
				flex-direction: row;
				flex-wrap: wrap;
			}
			.guide {
				width: 30%;
				/* flex: 0 auto; */
				/* flex-basis: 50%; */
			}
		}
		

/* section.experience */
.news {width: 100%; height: auto; margin: 0 auto; overflow: hidden;}
.news h2{font-size: 40px; margin-top: 60px; text-align: center;}
.news .container{display: flex;	flex-direction: row; }
.news .issue { margin-top: 50px; width: 49.25%; height: 280px; float: left; background-image: url(../img/img_08.jpg);background-repeat: no-repeat; background-size: cover; background-position: center; margin-right: 1.5%;}
.news .issue:nth-child(2) {margin-right: 0;background-image: url(../img/img_09.jpg);}
.news .issue h3{margin-top: 10%; margin-left: 10%; }
.news .issue p {font-size: 15px; color: #333; margin-top: 5px; margin-left: 10%;}

.top {float: right; margin-right: 30px; margin-bottom: 30px; width: 80px; height: 80px; background: #454545; border-radius: 50%; background-image: url(../img/arrow.JPG); background-repeat: no-repeat; background-size: 25px; background-position: top; position: relative;}
.top a{display: block; width:100%; height: 100%; }
.top p{ font-size: 16px; font-weight: bold; color: #fff; position:absolute; top:50%; left: 50%; transform: translate(-50%, -50%);}
        
		@media (min-width: 300px) {
			.news .container {
				flex-direction: column;
			}
            .news .issue {
                width: 100%;
            }
		}
		@media (min-width: 900px) {
			.news .container {
				flex-direction: row;
			}
            .news .issue {
                width: 49%;
            }
		}

/* section.footer */
footer {width: 100%; height: auto; background: #454545; color: #adadad; overflow: hidden;}
footer .adress{width: 100%; margin: 0 auto; text-align: center;}